body {
    font-family: 'Ubuntu', sans-serif;
}

.menu li {
    display: inline;
    margin-left: 38px;
    display: inline-block;
    font-size: 14px;

}
header {
    max-width: 1186px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.description {
    max-width: 1186px;
    margin: 0 auto;
    font-size: 32px;
}
.description h1 {
    font-size: 57px;
}

.button {
    background-color: #5528FF;
    border-color: #5528FF;
    color: #FFFFFF;
}

.button_sm {
    width: 100px;
    height: 24px;
    border-radius: 5px;
    font-size: 14px;
}

.button_md {
    width: 235px;
    height: 60px;
    border-radius: 10px;
    font-size: 24px;
}
