body {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    max-width: 1186px;
    margin: 0 auto;
}

.menu li {
    margin-left: 38px;
    display: inline-block;
    font-size: 14px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.description {
    font-size: 32px;
}
.description h1 {
    font-size: 57px;
    margin-top: 132px;
}
.description p {
    margin-top: 35px;
    margin-bottom: 70px;
}

.button {
    background-color: #5528FF;
    border-color: #5528FF;
    color: #FFFFFF;
}

.button_sm {
    width: 100px;
    height: 24px;
    border-radius: 5px;
    font-size: 14px;
}

.button_md {
    width: 235px;
    height: 60px;
    border-radius: 10px;
    font-size: 24px;
}

.bordered {
    border-top: 0.5px solid #C2C2C2;
    margin-top: 110px;
    margin-bottom: 110px;
}

.service {
    display: flex;
    align-items: center;
}

.service-image {
    max-width: 80px;
    width: 100%;
}
.service-description {
    margin-left: 50px;
}
.services {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
}

.service-description p {
    color:#B2B2B2;
    font-size: 14px;
}

.partners {
    display: flex;
    justify-content: space-between;
}

.icons {
    display: flex;
    flex-direction: column;
}

.icons > img {
    margin-top: 62px;
}

.icons > img:first-child {
    margin-top: 0;
}

.partners {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.team  {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;

}

.members-photos {
    margin-bottom: 60px;
}

.members-photos:last-child {
    margin-bottom: 0;
}
.members-photos > img {
    margin-right: 140px;
}

.members-photos > img:last-child {
    margin-right: 0;
}

.footer  {
    background-color:#F7F7F7;
}

.footer > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}